@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Verdana, sans-serif;
}

a,
p,
h1,
h2,
h3,
h5 {
    color: #444;
}

.container {
    max-width: 900px;
    margin: auto;
}

header {
    background-color: coral;
}

header navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header navbar a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

header navbar a:hover {
    color: aqua;
}

section {
    padding: 20px;
}