@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Verdana, sans-serif;
}

a,
p,
h1,
h2,
h3,
h5 {
    color: #444;
}

.container {
    max-width: 900px;
    margin: auto;
}

header {
    background-color: coral;
}

header navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header navbar a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

header navbar a:hover {
    color: aqua;
}

section {
    padding: 20px;
}

main {
    float: left;
    width: 70%;
}

main p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

aside {
    float: right;
    width: 30%;
}

aside p {
    padding: 5%;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

aside ul {
    padding: 5px 20px 0px 20px;
}

aside ul li {
    font-size: 1.2rem;
    list-style: none;
    line-height: 1.6rem;
}

footer {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: coral;
}

i {
    justify-content: center;
    align-items: center;
}