.container {
    /* Step 1: Set display to grid */
    display: grid;
    /* Step 2: setup rows amd columns */
    grid-template-columns: 300px 300px 200px;
    grid-template-rows: 250px 600px 150px;
    grid-template-areas: "hd hd hd hd hd hd" "sb sb sb ct ct ct" "ft ft ft ft ft ft";
    grid-gap: 15px;
    border: 2px solid yellow;
}

.box {
    border: 1px solid red;
}

#one {
    /* set grid-area here: row start/column start/ row end/ column end */
    grid-area: hd;
}

#two {
    grid-area: sb;
}

#three {
    grid-area: ft;
}

#four {
    grid-area: ct;
}